<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->

      <form (ngSubmit)="onSubmit(gymForm)" #gymForm="ngForm">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input 
            class="form-control"
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            #emailInput="ngModel"
            email
            required>
            <div *ngIf="emailInput.touched && emailInput.invalid" class="alert alert-danger">
              <span *ngIf="emailInput.errors.required">Email is required!</span>
              <span *ngIf="emailInput.errors.email && !emailInput.errors.required">Email is not valid!</span>
            </div>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            class="form-control"
            id="subscription"
            [(ngModel)]="user.subscription"
            name="subscription"
            required
            #subscriptionInput="ngModel">
            <option value="">Please select a one!</option>
            <option 
              *ngFor="let subscription of subscriptions"
              [value]="subscription"
              [selected]="subscription === user.subscription">{{ subscription }}</option>
          </select>
          <div *ngIf="subscriptionInput.invalid && subscriptionInput.touched" class="alert alert-danger">
            Please select a subscription
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="user.password"
            name="password"
            required
            #passwordInput="ngModel">
            <div *ngIf="passwordInput.touched && passwordInput.invalid" class="alert alert-danger">
              Password should not be empty.
            </div>
        </div>
        <button [disabled]="gymForm.invalid" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      {{ user | json }}
    </div>
  </div>
</div>
